<%- include('../partials/head.ejs') %>
<%- include('../partials/background-design.ejs') %>
<link rel="stylesheet" href="css/auth.css">
    <%- include('../partials/navigation.ejs') %>
    <form id="sign-in" action="/sign-in" method="post">
        <div class="sign-header">
        <h1 class="sign-title">Logg inn</h1>
        </div>
        <label for="username">Brukernavn:</label>
        <input class="input-sign" type="text" name="username" id="username" placeholder="Skriv inn brukernavn..." required>
        <label for="passwd">Passord:</label>
        <input class="input-sign" type="password" name="passwd" id="passwd" placeholder="Skriv inn Passord..." required>
        <button class="sign-btn" type="submit">Logg inn</button>
        <div class="error"><%= error %></div>
        <p class="sign-p">Har du ikke en bruker? Registrer deg <a class="sign-link" href="/sign-up"> her! </a></p>
    </form>

<%- include('../partials/foot.ejs') %>