<%- include('../partials/head.ejs') %>
<%- include('../partials/background-design.ejs') %>
<link rel="stylesheet" href="css/auth.css">
    <%- include('../partials/navigation.ejs') %>
    <form id="sign-up" action="/sign-up" method="post">
    <div class="sign-header">
        <h1 class="sign-title">Registrer</h1>
        </div>        
        <label for="username">Brukernavn:</label>
        <input class="input-sign"type="text" name="username" id="username" placeholder="Skriv inn brukernavn..." required>
        <label for="passwd">Passord:</label>
        <input class="input-sign" type="password" name="passwd" id="passwd" placeholder="Skriv inn Passord..." required>
        <label for="passwd">Gjenta passord:</label>
        <input class="input-sign" type="password" name="passwd2" id="passwd2" placeholder="Gjenta passord..." required>
        <label for="key">Nøkkel:</label>
        <input class="input-sign" type="password" name="key" id="key" placeholder="Skriv inn Nøkkel..." required>
        <button class="sign-btn" type="submit">Registrer</button>
        <div class="error"><%= error %></div>
        <p class="sign-p">Har du allerede en bruker? Logg inn <a class="sign-link" href="/sign-in"> her! </a></p>
    </form>
<%- include('../partials/foot.ejs') %>