<head>
    <script src="/js/searchbar.js"></script>
</head>


<section id="<%= name %>">
    <label for="<%= name %>-input"><h3>Tema:</h3></label>
    <input list="brow_<%= name %>" id="<%= name %>-input">
    <label onclick="addViaInput('<%= name %>', '<%= require %>')" class="searchbarButton">Legg til</label>
    <datalist id="brow_<%= name %>">
        <% console.log(datalist) %>
        <% for( let a = 0; a < datalist.length; a++ ) { %>
                <% data = datalist[a]%>
                <option value="<%= data%>"></option>
        <% } %>
    </datalist>
    <script>
        loadArray('<%= name %>', '<%= array %>', '<%= name %>')
    </script>
</section>