<% if (rdf.title.object.nb) { %>

    <section class="dataPreview" data-tema="<%= Array.isArray(item) ? item.join(',') : item %>">
        <a href="/oversikt/<%= rdf.title.object.nb[0] %>">
            <div class="dataPreviewInfo">
                <div class="dataPreTitle">
                    <h2>
                        <%= rdf.title.object.nb[0] %>
                    </h2>
                </div>
                <div class="dataPreInfo">
                    <p>
                        <%= rdf.description.object.nb %>
                    </p>
                </div>
                <div class="dataTags">
                    <% for(tag of item) { %>
                        <div class="dataTag">
                            <%= tag %>
                        </div>
                    <% } %>
                </div>
            </div>
        </a>
    </section>

    <% } %>