<% if (item.title.object.nb) { %>

    <section class="dataPreview" data-tema="<%= Array.isArray(item.tags) ? item.tags.join(',') : item.tags %>">
        <a href="/oversikt/<%= item.title.object.nb[0] %>">
            <div class="dataPreviewInfo">
                <div class="dataPreTitle">
                    <h2>
                        <%= item.title.object.nb[0] %>
                    </h2>
                </div>
                <div class="dataPreInfo">
                    <p>
                        <%= item.description.object.nb %>
                    </p>
                </div>
                <div class="dataTags">
                    <% for(tag of item.tags) { %>
                        <div class="dataTag">
                            <%= tag %>
                        </div>
                    <% } %>
                </div>
            </div>
        </a>
    </section>

    <% } %>