<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<%- include('./partials/background-design.ejs') %>

<input type="hidden" id="data-data" name="data-data" value='<%- JSON.stringify(tags)%>' %>

<div class="center flexcol">
    <div class="flexcol visualbox">
        <h2><%= title %></h2>
        <h3><%= rdfItem.url %></h3>
        <form action="/admin/config/:<%= id %>" method="post">
            
            <%- include('./partials/anysearch.ejs', { datalist: tags, array: rdfItem.tags, name: "data", require: 'any' }) %>
        
            <button>save</button>
        </form>
        <form action="/admin/delete/:<%= id %>" method="post">
            <button>delete</button>
        </form>
    </div>
</div>


<%- include('./partials/foot') %>