<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<input type="hidden" id="data-data" name="data-data" value='<%- JSON.stringify(data)%>' %>

<div class="center flexcol">
    <div class="flexrow">
        <form action="/admin/create" method="post">
            <input type="url" name="url">
            <br>
            <br>
            
            <%- include('./partials/anysearch.ejs', { datalist: data, array: [], name: "data", require: 'any' }) %>
        
            <button>confirm</button>
        </form>
    </div>
</div>

<%- include('./partials/foot') %>