<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<%- include('./partials/background-design.ejs') %>

<section class="full-page">
    <link rel="stylesheet" href="/css/adminConfig.css">
    <input type="hidden" id="data-data" name="data-data" value='<%- JSON.stringify(tags)%>' %>

    <div>
        <form class="adminForm" action="/admin/config/:<%= id %>" method="post">
            <div class="adminFormInput">
                <div class="adminFormInpBox">
                    <h2><%= title %></h2>
                    <h3><%= rdfItem.url %></h3>
                    <p><%= rdfItem.description.object.nb %></p>                    
                </div>

                <div class="adminFormInpBox">
                    <%- include('./partials/anysearch.ejs', { datalist: tags, array: rdfItem.tags, name: "data", require: 'any' }) %>    
                </div>
            </div>

            <button class="adminFormButton">Lagre</button>
        </form>

        <form class="adminForm" action="/admin/delete/:<%= id %>" method="post">
            <button class="adminFormButton adminFormButtonDel">Slett</button>
        </form>
    </div>


<%- include('./partials/foot') %>
</section>