<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<%- include('./partials/background-design.ejs') %>

<section class="full-page adminCreatePage">
    <link rel="stylesheet" href="/css/adminConfig.css">

    <input type="hidden" id="data-data" name="data-data" value='<%- JSON.stringify(data)%>' %>

    <div>
        <form class="adminForm" action="/admin/create" method="post">
            <div class="adminFormInput">
                <div class="adminFormInpBox">
                    <h2>
                        Importer nytt datasett via RDF link
                    </h2>
                </div>

                <div class="adminFormInpBox">
                    <label for="url"><h3>RDF url:</h3></label>
                    <input type="url" name="url" id="url">                    
                </div>

                <div class="adminFormInpBox">
                    <%- include('./partials/anysearch.ejs', { datalist: data, array: [], name: "data", require: 'any' }) %>                    
                </div>
            </div>
            
            <div class="error"><%= error %></div>
            <button class="adminFormButton">Godkjenn</button>
        </form>
    </div>

<%- include('./partials/foot') %>
</section>