<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<div class="errorPage">
    <h1>-- <%= code %> --</h1>
    <p><%= message %></p>
</div>


<%- include('./partials/foot.ejs') %>