<%- include('./partials/head.ejs') %>

    <%- include('./partials/navigation.ejs') %>

        <section class="indexPage">
            <div class="indexLogo">
                <img src="/img/nav-logo.png" alt="nav logo">
            </div>

            <div class="searchField">
                <h2>Søk:</h2>
                <%- include('./partials/searchfield.ejs') %>
            </div>

            <div class="container-results">
                <h2>Resultat:</h2>
                <% if (data && data.length> 0) { %>
                    <ul>
                        <% data.forEach(item=> { %>
                            <li><a href="<%= item.url %>">
                                    <%= (item.title.object.nb && item.title.object.nb[0]) || (item.title.object.en &&
                                        item.title.object.en[0]) %>
                                </a></li>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p>Ingen resultater funnet</p>
                        <% } %>
            </div>
        </section>



        <%- include('./partials/foot.ejs') %>