<%- include('./partials/head.ejs') %>
<%- include('./partials/background-design.ejs') %>


    <%- include('./partials/navigation.ejs') %>

        <section class="indexPage">
            <div class="indexLogo">
                <img src="/img/nav-logo.png" alt="nav logo">
            </div>
            <p class="indexText">Utforsk, finn, og bruk alle våre datasett</p>

            <div class="searchField">
                <%- include('./partials/searchfield.ejs') %>
            </div>
        </section>



        <%- include('./partials/foot.ejs') %>